body{
    background-color: aquamarine;
    /*height: 100vh;*/
    /*width: 100vw;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


#containerDiv {
    flex: auto;
    /*width: 40vh;*/
    /*height: 40vh;*/
    height: 80vh;
    width: 80vh;
    display: flex;
}

.bigDiv{
    flex: auto;
    /*border: 1px solid #f4f4f4;*/
    background-color: white;
    display: flex;
    flex-direction: column;

}

.smallDiv{
    flex: auto;
    /*border: 1px solid #f4f4f4;*/
    background-color: white;
}


@media (max-width: 750px) {
    #containerDiv {
        flex: auto;
        /*width: 40vh;*/
        /*height: 40vh;*/
        height: 90vw;
        width: 90vw;
        display: flex;
    }
}